<main class="main">
    
    <div class="card">
        <div class="card-header col-2">
            <h3 class="card-title">All User</h3>
            <a href="" class="btn btn-dark">Add User</a>
        </div>
        <div class="card-body">
            <table id="myTable" class="responsive_table">
                <tbody><tr>
                    <th>S.no</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Gender</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>janesmith456</td>
                    <td>Female</td>
                    <td>Canada</td>
                    <td>
                        <div class="dropdown" data-dropdown="">
                            <a class="dropdown_btn btn btn-light" data-dropdown-button="">Login</a>
                            <div class="dropdown-menu">
                                <form action="">
                                    <a href="view_detail.html" class="dropdown_item sm">View Detail</a>
                                </form>
                                <form action="">
                                    <a href="picture_setting.html" class="dropdown_item sm">Picture Setting</a>
                                </form>
                                <form action="">
                                    <a href="update_record.html" class="dropdown_item sm">Update Record</a>
                                </form>
                                <form action="">
                                    <a href="delete_record.html" class="dropdown_item sm">Delete Record</a>
                                </form>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>janesmith456</td>
                    <td>Female</td>
                    <td>Canada</td>
                    <td>
                        <div class="dropdown" data-dropdown="">
                            <a class="dropdown_btn btn btn-light" data-dropdown-button="">Login</a>
                            <div class="dropdown-menu">
                                <form action="">
                                    <a href="#" class="dropdown_item sm">View Detail</a>
                                </form>
                                <form action="">
                                    <a href="#" class="dropdown_item sm">Picture Setting</a>
                                </form>
                                <form action="">
                                    <button type="submit" class="dropdown_item btn-none sm">Update Record</button>
                                </form>
                                <form action="">
                                    <a href="#" class="dropdown_item sm">Delete Record</a>
                                </form>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
    </main>