<section class="hero">
    <div class="row">
        <div class="col-6 content">
            <h1>PgNodeUser a user management system</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe reiciendis .</p>
            <div>
                <a href="" class="btn btn-light">Login</a>
                <a href="" class="btn btn-dark">Signup</a>
            </div>
        </div>
        <div class="col-6">
            <img src="./img/hero.png" alt="">
        </div>
    </div>
</section>