<div class="form_body">
    <div class="form_box">
        <h1>Signup</h1>
        <div class="form_group">
            <label for="Fullname">Fullname</label>
            <input type="text" name="fullname" id="fullname" value="Rituraj" placeholder="Enter Full Name">
        </div>
        <div class="form_group">
            <label for="Email">Email</label>
            <input type="Email" name="Email" id="Email" placeholder="Enter Email Address">
        </div>
        <div class="form_group">
            <label for="dob">DOB</label>
            <input type="date" name="dob" id="dob" value="2005-02-02" placeholder="Enter Date Of Birth">
        </div>
        <div class="form_group">
            <label for="Password">Password</label>
            <input type="Password" name="Password" id="Password" placeholder="Enter Current Password">
        </div>
        <div class="form_group">
            <button class="btn btn-dark">Login</button>
        </div>
    </div>
</div>