<header class="header">
    <nav class="navbar">
        <div class="left_menu">
            <a href="/" class="logo">
                <div class="icon">
                <i class="bx bxl-postgresql logo-icon"></i>
                </div>
                PgNodeUser</a>
            
            <ul class="main_menu" id="main_menu">
                
                <li>
                    <a href="/login" class="menu_link lg-hidden">Login</a>
                </li>
                <li>
                    <a href="/signup" class="menu_link lg-hidden">Sign up</a>
                </li>
            </ul>
        </div>
        <div class="right_menu">
            <div class="icons">
                <div class="icon" id="theme_icon">
                    <i class="bx bx-sun hide"></i>
                    <i class="bx bx-moon"></i>
                </div>
                <div class="menu_toogler icon lg-hidden" id="menu_icon">
                    <i class="bx bx-menu"></i>
                </div>
            </div>
            <a href="/login" class="btn btn-light sm-hidden">Login</a>
            <a href="/signup" class="btn btn-dark sm-hidden">Signup</a>
            
        </div>
    </nav>
</header>